/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Roboto', sans-serif;*/

/** {*/
/*    outline: 1px solid red*/
/*}*/
html {
    /*overflow-x: hidden;*/
    -webkit-text-size-adjust: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    vertical-align: bottom;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

.container {
    max-width: 1249px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

header, footer {
    opacity: 0.8;
    background-color: #000000;
}

header {
    height: 89px;
}

.header_body {
    margin-top: 30px;
}


.header_list {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
}

.header_list li {
    list-style: none;
    margin-right: 50px;
    padding-top: 43px;
    margin-bottom: 34px;
}

.header_link {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.035em;
    color: #e0e0e0;
    text-decoration: none;
}

.header_list a:focus {
    padding: 45px 15px 25px 15px;
    width: 90px;
    height: 89px;
    background: #ff3f40;
}

.header_list a:hover {
    transition: 0.5s;
    color: #81b7b9;
}

h1 {
    font-size: 60px;
    line-height: 72px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #000000;
}

.section1 {
    padding-bottom: 125px;
    background-color: #f6f2f2;
    /*height: 688px;*/
    display: flex;
    padding-top: 100px;
    justify-content: space-between;
}

.textUnderH1 {
    opacity: 0.7;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #000000;
}

.section1Button {
    width: 227px;
    height: 55px;
    background-color: #ff2d2d;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
}

.section1Button a {
    font-size: 18.2px;
    line-height: 34px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
    text-decoration: none;
}

.section1textUnderH1 {
    padding-top: 40px;
    margin-bottom: 55px;
    opacity: 0.7;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #000000;
}

.section1LeftPart {
    margin-right: 55px;
}

.section1RightPart {
    margin-left: 30px;
    position: relative;
    width: 900px;
    height: 300px;
    box-shadow: -8px -12px 14px #aaa;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section2-folder {
    display: flex;
    justify-content: space-between;
}

.secondTitle {
    opacity: 0.8;
    font-size: 42px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    color: #000000;
}

.descriptionTitle {
    padding-top: 50px;
    margin-bottom: 30px;
    font-size: 16px;
    color: #000000;
}

.buttonUnderTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 227px;
    height: 55px;
    border: 2px solid #ff0000;
    border-radius: 5px;
}

.buttonUnderTitle a {
    font-size: 18.2px;
    letter-spacing: 0.025em;
    color: #ff2d2d;
    text-decoration: none;
    text-transform: capitalize;
}

.section2 {
    padding-top: 115px;
    margin-bottom: 100px;
}

.section2RightItem {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.section2RightItem:nth-child(2) {
    padding-left: 50px;
}

.section2PartRightItems {
    display: flex;
    justify-content: space-between;
}

.section2LeftPart {
    margin-right: 130px;
}

.section2itemTitle1 {
    padding-top: 30px;
    margin-bottom: 30px;
    opacity: 0.7;
    font-size: 24px;
    letter-spacing: 0.01em;
    color: #000000;
}

.section2itemTitle1Description {
    margin-bottom: 50px;
    opacity: 0.7;
    font-size: 16px;
    color: #000000;
}

.borderBottom {
    margin-left: 535px;
    border-bottom: 3px solid #ff2d2d;
    width: 132px;
}

/*.secondTitle::after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    background: #ff2d2d;*/
/*    width: 132px;*/
/*    height: 3px;*/
/*    bottom: -1000px;*/
/*    left: 50%;*/
/*    transform: translate(-50%, 50%);*/
/*}*/

.section3-items {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.section3-items li {
    list-style: none;
    margin-right: 50px;
    padding-top: 43px;
    margin-bottom: 34px;

}

.section3item {
    opacity: 0.7;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    color: #000000;
    text-decoration: none;
}

.section3-items a:focus {
    color: #ff2d2d;
}

.section3 {
    text-align: center;
    position: relative;
}

.section3img-folder {
    margin-bottom: 130px;
}

.section3imgLeft, .section3imgRight {
    display: flex;
    gap: 9px;
    margin-bottom: 9px;
    /*flex-wrap: wrap;*/
}

.sect4part2tittle {
    opacity: 0.8;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.01em;
}

.sect4part2description {
    padding-top: 35px;
    margin-bottom: 45px;
    opacity: 0.7;
    font-size: 16px;
}

.section4 {
    display: block;
}

.sect4mainImg {
    margin-right: 70px;
}

.borderBottomSec4 {
    margin-left: 10px;
    border-bottom: 3px solid #ff2d2d;
    width: 132px;
    margin-bottom: 70px;
}

.descriptionTitleSec4 {
    padding-top: 50px;
    padding-left: 10px;
    margin-bottom: 30px;
    opacity: 0.7;
    font-size: 16px;
    width: 445px;
}

.sect4rightPart {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.section4part2 {
    display: flex;
    margin-bottom: 110px;
}

.sect4part2photoMembers {
    display: flex;
    gap: 20px;
}

.sect4part2socialList {
    display: flex;
    justify-content: left;
}

.sect4socialItem {
    margin-right: 28px;
    margin-bottom: 40px;
    list-style: none;
}

.sect4socialItem a {
    text-decoration: none;
    opacity: 0.8;
    font-size: 18px;
    color: #000000;
}

.sect4part2photoMember1st {
    position: relative;
}

.sect4textOnImg2 {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    opacity: 0.5;
    background-color: #000000;
    width: 197px;
}

.wrapper {
    position: relative;
}

.sect4bg {
    background: url("assets/images/section5BG4.jpg") no-repeat center top / cover;
    width: 100%;
    height: 515px;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    position: relative;
}

.sect4bottom-folder {
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translate(-50%, 50%);
}

.sect4bottom-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px

}

.sect4bottomTitle {
    opacity: 0.8;
    font-size: 42px;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.sect4bottomDescription {
    opacity: 0.8;
    font-size: 16px;
    color: #ffffff;
}

.sect4Buttons {
    display: flex;
    padding-bottom: 140px;
    text-align: center;
}

.sect4inputArea {
    width: 521px;
    height: 79px;
    background-color: #ffffff;
    border: 1px solid #e7e7e7;

}

.sect4Input {
    opacity: 0.7;
    font-size: 16px;
    letter-spacing: 0.025em;
    color: #2c2c2c;
    border: none;
    padding: 8px;
    width: 230px;
    height: 40px;
}

.sect4Input:hover {
    color: #95e1d3;
}

.sect4buttonSubscribe {
    width: 214px;
    height: 79px;
    background-color: #ff2d2d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sect4btnSubscribe {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #ffffff;
    margin: 0;
    padding-left: 0;
    text-decoration: none;
}

.sect4btnSubscribe:hover {
    font-size: 18px;
}
